#game{
    height: 100vh;
}

#gameBoard{
    /* width: 60%; */
    height: 90%;
    display: inline-block;
    box-sizing: border-box;
}

.gameBoardP1{
    background: linear-gradient(to right, rgba(255, 255, 0, 0.5), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
}

.gameBoardP2{
    background: linear-gradient(to left, rgba(255, 255, 0, 0.5), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0), rgba(0,0,0,0));
}

h1, h2, h3, h5, p{
    font-family: 'Playfair Display SC', serif;
}

.banner{
    background: rgb(40, 40, 40);
    color: white;
    font-weight: 700;
    margin: 0;
    height: 10%;
}
@media screen and (max-width: 720px) {
    .banner{
        font-size: 25px;
        height: 35px;
    }
    #gameBoard{
        height: initial;
    }
    #gameBoard h1{
        font-size: 1.5rem;
    }
}
