.characterImg{
    background: purple;
    width: 50%;
    padding-top: 50%;
    margin: 10px auto;
}

.player {
    display: inline-block;
    /* width: 20%;
    height: 100%; */
    background: blue;
    vertical-align: top;
}