.characterImg{
    width: 76px;
    padding-top: 116px;
    margin: 10px auto;

    background-repeat: no-repeat;
}

.characterImg.blink{
    animation: pblink 6s steps(2) infinite;
}
.characterImg.hurt{
    animation: phurt 1.5s steps(3);
}
@keyframes pblink{
    0%{background-position: 0 0;}
    4%{background-position: -152px 0;}
    8%{background-position: 0 0;}
    100%{background-position: 0 0;}
}

@keyframes phurt{
    0%{background-position: -228px 0;
        filter:contrast(150%);}
    30%{background-position: -228px 0;
        filter:contrast(150%);}
    100%{background-position: 0 0;
        filter:contrast(100%);}
}

.player {
    display: inline-block;
    vertical-align: top;
    height: 90%;
    color: white;
    border-radius: 10px;
    border: 3px solid darkgrey;
    background: linear-gradient(to bottom right, rgba(0,0,170,0.75), rgba(0,0,40,0.75));
}

.player img{
    width:60%;
    border-radius: 4px;
    border-style: solid;
    border-width: thin;
    border-color: #414042;
}

.player h3  span, .player h5{
    font-weight: 700;
}

@media screen and (max-width: 720px) {
    .player{
        height:initial;
    }

    .player h3, .player h5, .player h3 span{
        font-size: 1rem;
    }
    .characterImg{
        width: 63px;
        padding-top: 98px;
        background-size: 252px 98px;
    }
    @keyframes pblink{
        0%{background-position: 0 0;}
        4%{background-position: -126px 0;}
        8%{background-position: 0 0;}
        100%{background-position: 0 0;}
    }
    @keyframes phurt{
        0%{background-position: -189px 0;
            filter:contrast(150%);}
        30%{background-position: -189px 0;
            filter:contrast(150%);}
        100%{background-position: 0 0;
            filter:contrast(100%);}
    }

}