@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC");


.selCharacterImg{
    background: purple;
    width: 76px;
    padding-top: 116px;
    margin: auto;
    background-repeat: no-repeat;
    animation: blink 6s steps(2) infinite;
}

.charHolder{
    margin-top: 10vh;
}

.CSel h1, .CSel p{
    font-family: 'Playfair Display SC', serif;
}