@import url("https://fonts.googleapis.com/css?family=Playfair+Display+SC:400,700");

.CSel .frame{
    width: 76px;
    padding-top: 116px;
    margin: auto;
    position: relative;
}
.CSel .statsInfo{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.75);
    opacity: 0;
}

.CSel .statsInfo p{
    font-weight: 700;
    margin: 1rem 0 0;
}

.CSel .statsInfo:hover{
    opacity: 1;
}

.CSel .selCharacterImg{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    background-repeat: no-repeat;
    animation: blink 6s steps(2) infinite;
}

.CSel .charHolder{
    height: 100vh;
}

.CSel .pSelect{
    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,.75);

}

.CSel .pSelect div{
    font-size: 2em;
    font-weight: 700;
}

.CSel .hide{
    display: block;
}

@media screen and (max-width: 720px) {
    .CSel .frame{
        width: 63px;
        padding-top: 98px;
    }

    .CSel .selCharacterImg{
        background-size: 252px 98px;
    }

    .CSel .charHolder{
        height: initial;
    }
}

@media screen and (max-width: 480px) {
    .CSel .hide{
        display: none;
    }
}